<aside id="aside" class="app-aside modal fade folded" role="menu">
<div class="left">
  <div class="box bg-white">
    <div class="navbar md-whiteframe-z1 no-radius teal-500">
        <a class="navbar-brand">
          <img src="images/logo.png" alt="." style="max-height: 36px; display:none">
          <span class="hidden-folded m-l inline">{{title}}</span>
        </a>
    </div>
    <div class="box-row">
      <div class="box-cell scrollable hover">
        <div class="box-inner">
          
          <div id="nav">
            <nav ui-nav>
              <ul class="nav">
                <li class="nav-header m-v-sm hidden-folded">
                  Menu
                </li>
                <li>
                  <a md-ink-ripple>
                    <i class="glyphicon glyphicon-plus"></i>
                    <span class="font-normal" (click)="add()">Add Address</span>
                  </a>
                </li>
                <li>
                  <a md-ink-ripple>
                    <span class="pull-right text-muted">
                      <i class="fa fa-caret-down"></i>
                    </span>
                    <i class="glyphicon glyphicon-th-list"></i>
                    <span class="font-normal">Select Address</span>
                  </a>
                  <ul class="nav nav-sub address-list"></ul>
                </li>
              </ul>
            </nav>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
</aside>
  
<div id="content" class="app-content" role="main">
    <div class="navbar md-whiteframe-z1 no-radius teal-500">
      <a md-ink-ripple  data-toggle="modal" data-target="#aside" class="navbar-item pull-left visible-xs visible-sm"><i class="mdi-navigation-menu i-24"></i></a>
      <div class="navbar-item pull-left h4">{{title}}</div>
    </div>
	<div class="app">
		<router-outlet></router-outlet>
	</div>
</div>