<div class="welcome">
  <div class="panel panel-card">
    <div class="p">
      <h3>Welcome!</h3>
      <p>
        This service can register the watch only address and see the balances.<br />
		Press 'ADD ADDRESS' to start.
      </p>
    </div>
  </div>
</div>

<div class="modal-over">
  <div class="modal-center text-center animated fadeInUp" style="width:240px; margin-left: -120px; margin-top: 130px;">
    
    <div class="m-t">
    	<a id="getbutton" class="md-btn md-raised teal-500 p-h-md" (click)="add()">Add ADDRESS</a>
	</div>
  </div>
</div>